 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-tertiary">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Motivated and capable engineer, with experience in the full stack of hardware development.</p>
                </div>
                <div class="col-lg-4">
                    <p>Skills including: PCB design, firmware development, laser cutting/ 3D printing, prototype design and device testing.</p>
                    <p>Please see the Linkedin attached below for full resume.</p>
                </div>
            </div>
        </div>
    </section>
